.navbar-nav a{
    text-align: end;
}
.mobile-navbar-icon{
    margin-right: -5px;
}
.carousel-height{
    height: 600px;
}
.carousel-image-dark{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.font-popins h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.font-popins h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.font-popins h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.font-popins p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.font-popins a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.font-popins button{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.carousel-background-1{
    background-image: url(resources/images/cover/cover-1.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.carousel-background-2{
    background-image: url(resources/images/cover/cover-2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    
}
.carousel-background-3{
    background-image: url(resources/images/cover/cover-3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
}


.footer-bg{
    background-color: #161616;
}
/* media-query */

/* for-lg-device */
@media only screen and (max-width: 1200px) {
    .carousel-height{
        height: 500px;
    }
    .carousel-background-1{
        height: 500px;
    }
    .carousel-background-2{
        height: 520px;
    }
    .carousel-background-3{
        height: 500px;
    }
    
}


/* for-md-device */
@media only screen and (max-width: 991px) {
    .carousel-height{
        height: 280px;
    }
    .carousel-background-1{
        height: 280px;
    }
    .carousel-background-2{
        height: 280px;
    }
    .carousel-background-3{
        height: 280px;
    }
    
    .carousel-header{
        font-size: 30px;
    }

    
}
/* for sm device */
@media only screen and (max-width: 785px) {
    
    
    
}
/* for-extra sm-device */
@media only screen and (max-width: 576px) {
    .carousel-height{
        height: 260px;
    }
    .carousel-background-1{
        height: 260px;
        background-size: 140%;
        background-position: center;
    }
    .carousel-background-2{
        height: 260px;
        background-size: 140%;
        background-position: center;
    }
    .carousel-background-3{
        height: 260px;
        background-size: 140%;
        background-position: center;
    }
    .carousel-p{
        font-size: 13px;
        
    }
    .carousel-header{
        font-size: 20px;
    }
    .course-student-width{
        max-width: 327px;
    }
    .sec-title{
        font-size: 25px;
    }
}